
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'roboto';
}


.container {
    position: relative;
    justify-content: center;
    width: 370px;
    height: 670px;
    background-color: #1C1C1C;
    border-radius: 40px;
}

input {
    font-size: 64px;
    margin: 130px 25px 10px;
    background-color: blue;
    height: 70px;
    width: calc(100% - 50px);
    vertical-align: middle;
    color: white;
    text-align: right;
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.button {
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
}

.button:hover {
    opacity: 90%;
}

.zero {
    width: 167px;
    border-radius: 40px;
}

.num {
    background-color: #6D6D6D;
}

.extra {
    background-color: #AEAEAE;
}

.action {
    background-color: #FFB800;
}